* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.singleImageBox {
    background-color: white;
    width: 30%;
    padding: 15px;
    height: 450px;
}

.singleImageBox img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: center;
    margin-top: 20px;
}