.categoriesContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  transform: translateY(-50%);
}

.furtherCategoryContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  transform: translateY(-40%);

  margin: auto;
}

.SimpleCategoryContainer {
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  transform: translateY(-25%);

}
