.footer {
  background-color: #232f3e;
  color: white;
  padding:50px 0px 0px 0px;
}
.footer .container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footerContent h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.footerContent ul li {
  list-style: none;
  margin-bottom: 5px;
  font-weight: 200;
}

footer {
  border-top: 1px solid white;
  text-align: center;
  padding: 20px 0px;
}
